<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AWCF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <AWCF.Properties.Settings>
            <setting name="PlayListStr" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentPlayListFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="NowSelectedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NowSelectedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="NowSelectedPosition" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="IsFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </AWCF.Properties.Settings>
    </userSettings>
</configuration>
